body{
position: none;
Max-width: 1920px;
Min-width: 1020px;
Max-height: 0px;
Min-height: 0px;
background-color: #33ff00;
}
 
 .container{
Max-width: 600px;
Min-width: 600px;
Max-height: 250px;
Min-height: 250px;
background-color: #FFFF33;
position: none;
margin-top: 300px;
margin-top: autopx;
margin-left: 660px;
margin-left: auto;
margin-right: 660px;
margin-right: auto;

 }
 
 .hen{
 font-family: none;
 font-size: 2em;
 text-align: center;
 margin-top: 0px;
 padding-top: 100px;
 }
 
